|===
|변수명|설명|예시

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{example}}{{/tableCellContent}}

{{/parameters}}
|===